#movie-table{
	background:rgba(255,255,255,0.9);
	border: 1px solid black;
	width:100%;
	
}
#sheet-table{
	background:rgba(255,255,255,0.9);
	border:1px solid black;
	width:100%;
	padding:30px;
	padding-left:600px;
	padding-right:600px;
	
	text-align:center;
	
}
#tabel-title{
	
  text-transform: uppercase;

  background:rgba(255, 255, 72,0.8);
  /* width: 360PX;*/
  
  padding: 15px;
  color: black;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
	
}
.button:hover,.form .button:active,.form .button:focus {
   background:rgba(255, 255, 0.9);

}
.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:rgba(255, 255, 72,0.8);
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.selected{
	background-color:#353535;
	color:white;
}
.area {
width:100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.area:before {
  display: inline-block;
  width: 1px;
  content: '';
}

.area:after {
  display: inline-block;
  width: 1px;
  content: '';
}

.movieList {
  font-weight:bold;
  text-align: center;
  padding : 5px;
}
.none-sheet{
	width:20px;
	height:20px;
	background-color:#353535;
	margin : 1px;
	display:inline-block;
	border-radius: 3px;
	
}
input[type="checkbox"] {
    display: none;
} 
input[type="checkbox"][disabled]+ label{
 	width:20px;
	height:20px;
	background: white;
    border-color: #3d9000;
	margin : 1px;
	display:inline-block;
	border-radius: 3px;
	
}
input[type="checkbox"]:checked+ label{
 	width:20px;
	height:20px;
	background: #353535;
    border-color: #3d9000;
	margin : 1px;
	display:inline-block;
	border-radius: 3px;
	color:white;
	content: '✓';
}

input[type="checkbox"]+ label{
 	width:20px;
	height:20px;
	background: #8C8C8C;
    border-color: #3d9000;
	margin : 1px;
	display:inline-block;
	border-radius: 3px;
	
}
#normal{
	width:20px;
	height:20px;
	background: #8C8C8C;
    border-color: #3d9000;
	margin : 1px;
	display:inline-block;
	border-radius: 3px;
}
/* input[type="checkbox"]:hover+ label{
 	width:20px;
	height:20px;
	background: red;
    border-color: #3d9000;
	margin : 1px;
	display:inline-block;
	border-radius: 3px;
	
}  */
 .none-sheet{
 	width:20px;
	height:20px;
	background: #8C8C8C;
    border-color: #3d9000;
	margin : 1px;
	display:inline-block;
	border-radius: 3px;
	
}
.none-sheet[disabled="true"]{
	width:20px;
	height:20px;
	background-color:#353535;
	margin : 1px;
	display:inline-block;
	border-radius: 3px;
	
}
.sheet{
	width:20px;
	height:20px;
	background-color:#353535;
	margin : 1px;
	display:inline-block;
	border-radius: 3px;

}
.sheet:hover {
	background-color:gray;
    color:black;
    
} 

.sheet-num{
	width:20px;
	height:20px;
	background-color:rgba(0,0,0,0);
	margin : 1px;
	display:inline-block;
	font-size:15px;
	 text-align: center;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


